services:
  web:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app/storage:/app/app/storage
    environment:
      - STORAGE_DIR=/app/app/storage
      - COOKIES_PATH=/app/app/storage/cookies.txt
      - YTDLP_ARGS=
